# Directories
.texpadtmp/
data/*

# Files .log
*.log
**/*.log

# Files .lof
*.lof
**/.lof

# Files .dvi
*.dvi
**/*.div

# Files .bbl
*.bbl
**/*.bbl

# Files .blg
*.blg
**/*.blg

# Files .toc
*.toc
**/*.toc

# Files .aux
*.aux
**/*.aux

# Backup files
*.bak
**/*.bak
