.texpadtmp/
Tesi\ di\ Valerio.pdf
Tesi\ di\ valerio.aux
Tesi\ di\ valerio.dvi
Tesi\ di\ valerio.lof
Tesi\ di\ valerio.log
Tesi\ di\ valerio.out
Tesi\ di\ valerio.synctex.gz
Tesi\ di\ valerio.toc
Tesi.tks
big-data.tex
conclusion.aux
data/
de.aux
experiments.aux
hadoop.tex
implementation.aux
introduction.aux
neural-networks.dvi
neural-networks.log
nosql.tex
nram.aux
sl-nn.aux
texput.log
